.fx {
  padding: 1rem;
  background-color: #ffe6e6;
  border-radius: 0.4rem;
  h1 {
    font-size: 1.8rem;
  }
  .fx-container {
    justify-content: space-between;
    .fx-item {
      flex: 0 1 20%;
      padding: 1rem;
      background-color: #ffb3b3;
      margin: 0.5rem 0;
      border-radius: 0.4rem;
    }
  }
}
